{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/generalReport.js') }}" type="text/javascript"></script>


{% endblock %}