{% extends "base.html.twig" %}

{% block content %}
<style>
    .masthead {
        background-color: #f3efe5;
    }
</style>

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="texture-bg">
    <div class='container-bg'>
        <h3 class="pageCaption">Login</h3>
        <form class='form' action="{{ path('login') }}" method="post">
            <div class='form-group'>
                <label class='form__label' for="username">Username:</label>
                <input class='form__input' type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class='form_form-group'>
                <label class='form__label' for="password">Password:</label>
                <input class='form__input' type="password" id="password" name="_password" />
            </div>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button class='form__btn' type="submit">login</button>
        </form>
    </div>
</div>
{% endblock %}