{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.memberNumber) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
    <label for="checkbox">Text</label><input id="checkbox" type="checkbox" value="checked" name="checkbox[]">
    <button type="submit">Register!</button>
    {{ form_end(form) }}

{% endblock %}