{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="article-bg">
  <div class="container">
    <div class="memberEntry row">
      <form class="memberEntry_form">
        <input class="memberEntry_input" type="number" />
        <button class="memberEntry_btn" type="submit" name="submit" id="submit">
          Search
        </button>
      </form>
      <button class="memberEntry_btn--newMember" id="new">New Member</button>
    </div>
    <div class="newMember">
      <form class="newMember_form hidden" id="newMemberForm">
        <div class="newMember_form-group form-group row">
          <input class="form-control col-md-4" type="text" placeholder="name" />
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="address1"
          />
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="address2"
          />
        </div>
        <div class="newMember_form-group form-group row">
          <input class="form-control col-md-4" type="text" placeholder="city" />
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="state"
          />
          <input class="form-control col-md-4" type="text" placeholder="zip" />
        </div>
        <div class="newMember_form-group form-group row">
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="phone"
          />
          {#
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="place"
          />
          <input
            class="form-control col-md-4"
            type="text"
            placeholder="holder"
          />
          #}
        </div>
        <div class="newMember_form-group form-group row">
          <button
            class="newMember_btn"
            type="submit"
            name="submit"
            id="newMember"
          >
            Give Temporary Access
          </button>
        </div>
      </form>

      <div id="results" class="memberResults hidden">
        <div class="row">
          <div class="card"></div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("rso") }}
{% endblock %}
