* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}
.close {
  line-height: 1.5;
}

pre {
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
button {
  &:focus {
    outline: none;
    border: none;
  }
}
