body {
  font-family: "Open Sans", Helvetica, sans-serif;
}
h3 {
  color: $theme_darkGreen;
}
h5 {
  color: $theme_brown;
  font-weight: normal;
}
.section-header {
  display: inline-block;
  border-bottom: 1px solid $theme_darkGreen;
}
.intro-copy {
  padding: 1rem 1.5rem;
  color: $theme_brown;
  font-weight: 600;
}
