{% extends 'base.html.twig' %}

{% block content %}
    <div class="texture-bg">
        <div class="container-bg">
            <h3 class="pageCaption">Select a Page to Manage</h3>
            <div class="activities_container">
                {% for activity in activities %}
                    {{ activity.name }}<br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
