{% extends 'base.html.twig' %}

{% block content %}
    <div class="texture-bg">
        <div class="container-bg">
            <h3 class="pageCaption">Add or Update details below:</h3>
            <div class="activities_container">
                <form>
                    <fieldset>Page Details</fieldset>
                    <input type="text" disabled value="{{ content.activityDetails.name }}"><br>
                    <input type="text" name="slug" value="{{ content.activityDetails.slug }}"><br>
                    <textarea name="description" cols="50">{{ content.activityDetails.description }}</textarea><br>
                    <input type="text" name="keywords" value="{{ content.activityDetails.keywords }}"><br>
                    <input type="text" name="active" value="{{ content.activityDetails.active|replace({0:'False', 1:'True'}) }}"><br>
                </form>
                <form>
                    <fieldset>Hours</fieldset>
                    {% for day in content.activityHours %}
                        {% set dayOfWeek = loop.index0|replace({0:'Sunday', 1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', }) %}
                        {% if day.closed %}
                            <label>{{ dayOfWeek }} Open:</label><input type="text" name="opentime.{{ loop.index0 }}" value="Closed"><br>
                            <label>{{ dayOfWeek }} Close:</label><input type="text" name="closingtime.{{ loop.index0 }}" value="Closed"><br><br>
                        {% elseif day.opentime is null %}
                            <label>{{ dayOfWeek }} Open:</label><input type="text" name="opentime.{{ loop.index0 }}" value="Open All Day"><br>
                            <label>{{ dayOfWeek }} Close:</label><input type="text" name="closingtime.{{ loop.index0 }}" value="Open All Day"><br><br>
                        {% else %}
                            <label>{{ dayOfWeek }} Open:</label><input type="text" name="opentime.{{ loop.index0 }}" value="{{ day.opentime|date('H:i') }}"><br>
                            <label>{{ dayOfWeek }} Close:</label><input type="text" name="closingtime.{{ loop.index0 }}" value="{{ day.closingtime|date('H:i') }}"><br><br>
                        {% endif %}
                    {% endfor %}
                </form>
                <form>
                    <fieldset>Leadership</fieldset>
                    {% for leader in content.activityLeadership %}
                        <input type="text" name="leader[]" value="{{ leader.memberNumber }} "> ({{ leader.memberFirstName }} {{ leader.memberLastName }})<br>
                    {% endfor %}
                </form>
                <form>
                    <fieldset>Events</fieldset>
                    {% for event in content.activityEvents %}
                        <input type="text" name="eventsId[]" hidden value="{{ event.id }}"><br>
                        <input type="text" name="eventsActivity[]" hidden value="{{ event.activity }}"><br>
                        <input type="text" name="eventsHeader[]" value="{{ event.header }}"><br>
                        <textarea type="text" name="eventsDetails[]" cols="50">{{ event.header }}</textarea><br>
                        <input type="text" name="eventsType[]" value="{{ event.type }}"><br><hr>
                    {% endfor %}
                </form>
                <form>
                    <fieldset>Add Event:</fieldset>
                    <input type="text" name="eventActivity" hidden><br>
                    <input type="text" name="eventHeader" placeholder="Event Header"><br>
                    <textarea type="text" name="eventsDetails" cols="50" placeholder="Event Details"></textarea><br>
                    <input type="text" name="eventsType" placeholder="Event Type (Event or Notice)"><br><hr>
                </form>
                <form>
                    <fieldset>Pictures</fieldset>
                    {% for picture in content.activityPictures %}
                    <img src="{{ picture.path }}">
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
