.theme-dg {
  background-color: $theme-darkGreen;
}
.theme-mg {
  background-color: $theme-midGreen;
}
.theme-lg {
  background-color: $theme-lightGreen;
}
.theme-yel {
  background-color: $theme-yellow;
}

.article-bg {
  background-color: $article-bg;
  height: 100%;
}
.texture-bg {
  background: url(/images/soft_wallpaper.png);
  height: 100%;
}

.font-wh {
  color: $white;
}
.font-dg {
  color: $theme-darkGreen;
}

.hidden {
  display: none;
}

.--flex {
  display: flex;
}
