/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == tablet-land {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == tablet-port {
    @media (max-width: 540px) {
      @content;
    }
  } @else if $point == phablet {
    @media (max-width: 450px) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 376px) {
      @content;
    }
  }
}
