
	$theme-darkGreen: #076324;
	$theme-darkGreen-faded: rgba(7, 99, 36, 0.161);
	$theme-midGreen: #157d2e;
	$theme-lightGreen: #1ba03b;
	$theme-lightGreen-faded: rgba(27, 160, 58, 0.78);
	$theme-yellow: #ffea00;
	$theme-yellow-faded: rgba(255, 234, 0, 0.541);
	$theme-brown: #70440e;
	$theme-bodyBg: #ffe6c7;

  $header-xDarkGreen: #246e36;
  
	$drop-menu: rgba(0,0,0,.7);
	$progress-incomplete: #b8b8b8;
	$progress-complete: #1ba03b;
	$info-color: #808080;

	$linkHover-bg: #d05b27;
	$article-bg: #f3efe5;
	$content-bg: #d4d1d1;
	$photoSlider-bg: #808080;

	$white: #FFFFFF;

	/* Gradients */
	$dGreen-lGreen-grad: linear-gradient(to top, #076324, #1ba03b);
