.alert_container-outer {
	position: absolute;
	top: 142px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: .3rem;
	background: linear-gradient(to top, $theme-yellow, #e7e000);
	border-radius: 10px;
	box-shadow: 0 8px 1rem rgba(0,0,0,.5);
	z-index: 1000;
	display: none;
}
.fa-times-circle {
	color: $theme-darkGreen;
}
.close {
	opacity: 1;
	text-shadow: none;
	cursor: pointer;
}
.alert_list {
	text-align: center;
	list-style: none;
	margin-bottom: 0;
	padding: 0;

	&_item {
		padding: .4rem 5rem;
		color: $theme-darkGreen;
		font-weight: 600;
	}
}
