.form-group {
  margin-bottom: 2rem;
}

// join and donate forms
.form {
  display: flex;
  flex-direction: column;
  max-width: 34rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;

  &__group-header {
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__label {
    display: inline-block;
    color: #333333;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  &__input {
    width: 100%;
    font-size: 1em;
    min-height: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #b0b0b0;
  }
  &__btn {
    width: 100%;
    margin-top: 2rem;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    background-color: rgba(27, 160, 58, 0.78);
    color: #ffffff;
    font-size: 1.1em;
    cursor: pointer;
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  &__errorMessage {
    display: none;
    text-align: center;
    color: red;
  }
  &_note {
    text-align: center;
  }
  input[type="radio"] {
    align-self: center;
  }
  fieldset {
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem 0;
    border-radius: 5px;
  }
  textarea {
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin-top: 0.5rem;
  }
}
