.newsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem;
  width: 22rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;

  @include breakpoint(tablet-land) {
  }
  &_image {
    max-width: 100%;
    max-height: 210px;
    border-radius: 3px;
    @include breakpoint(tablet-land) {
      max-height: unset;
    }
  }
  &_title {
    padding: 1rem 0 0;
    color: $theme_brown;
  }
  &_text {
    max-width: 90%;
    padding-bottom: 2rem;
    @include breakpoint(tablet-land) {
      max-width: 100%;
    }
  }
  &_cta {
    position: absolute;
    bottom: 0;
    color: $theme_brown;
    cursor: pointer;
    .fa-long-arrow-right {
      margin-left: 5px;
      color: $theme_brown;
    }
  }
}
