.pageCaption_container {
  margin: 0;
  text-align: center;
  // background: $dGreen-lGreen-grad;
  color: #ffffff;
}
.pageCaption {
  margin: 0;
  font-weight: 500;
  padding: 6rem 0 2rem;
  font-size: 2em;
  text-align: center;
  color: $theme_brown;
  // text-transform: uppercase;
  @include breakpoint(laptop) {
    padding: 4rem 1rem 1rem;
  }
  @include breakpoint(phablet) {
    font-size: 1.7em;
  }
}
