#photoSlider {
  width: 52%;
  @include breakpoint(tablet-port) {
    width: 100%;
  }
}
.carousel {
  z-index: 2;
}
.carousel-inner {
  background-color: #000;
}
.carousel-item img {
  display: block;
  margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
  font-size: 1.7em;
}
