.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;

  &-bg {
    position: relative;
    max-width: 994px;
    background-color: $article-bg;
    margin: 0 auto 3rem;
    padding: 0 0 4rem;
    box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.5);

    &--xWide {
      max-width: 1500px;
    }
  }
  &--xWide {
    max-width: 1500px;
    margin: 0 auto;
    background-color: $article-bg;
  }
}

.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 0;
  background-color: $article-bg;
  max-width: 1500px;
}

.events_container {
  padding: 0 1.5rem;
}

.links_container {
  padding: 0 10%;
  @include breakpoint(tablet-land) {
    padding: 1rem 1rem 0;
  }
}
