footer {
  color: $white;

  a {
    color: $white;

    &:hover {
      color: #adadad;
      text-decoration: underline;
    }
  }
}

.footer_top {
  padding: 1.4rem 0;
}
.footer_header_text {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.9rem;

  @include breakpoint(laptop) {
    font-size: 1.6rem;
  }
}

#facebook,
#twitter,
#linkedin,
#instagram,
#pinterest,
#youtube {
  display: inline-block;
  margin: 0 0.3rem;
  height: 33px;
  width: 33px;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: $white;

  @include breakpoint(tablet-land) {
    margin-bottom: 1rem;
  }
}
#facebook:hover,
#twitter:hover,
#linkedin:hover,
#instagram:hover,
#pinterest:hover,
#youtube:hover {
  background-color: $theme-yellow;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-pinterest-p,
.fa-youtube-play {
  color: $theme-darkGreen;
}

.footer_mid {
  padding: 1.4rem 0;
  font-size: 0.9rem;

  ul {
    padding: 0;
    list-style: none;
  }
  // li:first-of-type {
  //   text-transform: uppercase;
  //   font-size: 0.9rem;
  //   font-weight: 600;
  // }
}

.footer-bottom {
  padding: 1.4rem 0;
  font-size: 0.9rem;

  &_location {
    margin: 1rem 0 0 0;
  }
  &_badges {
    img {
      width: 118px;
      &:first-of-type {
        margin-left: -20px;
      }
    }
  }
}
