/* HELPERS */
.dropmenu-show {
  display: block !important;
  max-width: 100% !important;
}

/* DESKTOP NAVS */
.navbar {
  padding: 0;
}
.nav-item {
  position: relative;
  transition: color 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $theme-yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

    @include breakpoint(laptop) {
      visibility: hidden !important;
    }
  }
  &.dropdown:hover .dropdown-menu {
    display: block;
    @include breakpoint(laptop) {
      display: none;
    }
  }
}
.nav-left .nav-item:hover {
  background-color: #ffffff;
}
.dropdown-menu {
  margin-top: 0;
  left: -1.5rem;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: $drop-menu;
  width: 13rem;
  min-width: 13rem;
  @include breakpoint(laptop) {
    background-color: transparent;
  }
}
.dropdown-item {
  color: $white;
  font-weight: 400;
  font-size: 0.9em;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease;
  &:hover {
    font-weight: 500;
  }
}
.dropdown-toggle:hover {
  color: #ffffff;
}
.dropdown-toggle::after {
  display: none;
}
.navbar-toggler {
  width: 100%;
  padding: 0.5rem 1.4rem;
  &_header {
    color: white;
    font-size: 0.9em;
  }
}
.fa-bars {
  float: right;
  color: $white;
  z-index: 99;
}
.nav-item .fa-plus {
  display: none;
  @include breakpoint(laptop) {
    display: inline-block;
  }
}
#navbarCollapse {
  @include breakpoint(laptop) {
    padding: 1rem 0;
  }
}
/* Top Navbar */
.top-nav {
  background-color: $white;

  li {
    padding: 0 0.4rem;
  }
  li a {
    color: $theme-darkGreen;
    font-size: 0.9rem;
  }
}
.nav-right {
  max-height: 100%;

  li a {
    vertical-align: middle;
    color: $white;
  }
  .nav-item:last-child:hover {
    color: $white;
  }
}
.navbar-brand img {
  position: absolute;
  top: 5px;
  width: 118px;
  height: 118px;
  z-index: 10;

  @include breakpoint(laptop) {
    width: 75px;
    height: 75px;
  }
}
/* Masthead */
.masthead {
  position: relative;
  z-index: 15;
  height: 5.1rem;
  background-color: rgba(255, 255, 255, 0.8);
  &_header {
    margin-left: 8.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: $header-xDarkGreen;
    @include breakpoint(laptop) {
      margin-left: 5.5rem;
      font-size: 1em;
      line-height: 1.5;
    }
  }
}

/* Bottom Navbar */
.btm-nav {
  background: linear-gradient(to bottom, #93541d, #4f3a16);
  li {
    margin: 0 1.5rem;
    padding: 0.2rem 0;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.4s ease;

    .nav-link {
      // text-transform: uppercase;
      color: $white;
      padding: 0.4rem 0 !important;
      font-weight: 400;
      @include breakpoint(tablet-port) {
        font-size: 0.9em;
      }
    }
    .nav-link:hover {
      color: #ffffff;
    }
  }
}

/* MOBILE NAV */
.mobile-item {
  display: none;

  @include breakpoint(laptop) {
    display: block;
  }
}
.navbar-nav .nav-item {
  @include breakpoint(laptop) {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .fa-plus {
    color: #fff;
  }
}
.btm-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
.dropdown-menu-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
