.about {
  padding: 0 2rem;
  @include breakpoint(phablet) {
    padding: 0 1rem;
  }
  &_hero {
    display: block;
    background: url(/images/property/hiRes/chapterHouse.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto 2rem;
    max-width: 100%;
    height: 400px;
  }
  &_block {
    margin-bottom: 2rem;
  }
  &_header {
    color: $theme-brown;
    font-weight: 600;
  }
  &_copy {
    margin: 0;
    padding: 0.5rem 0;
  }
  &_sub-header {
    display: block;
    padding: 1rem 0 0.5rem;
    font-size: 1.1em;
    color: $theme-brown;
    font-weight: 400;
  }
}
