.activities_container {
  background-color: #ffffff;
  margin: 1rem 3rem 0;
  @include breakpoint(tablet-land) {
    margin: 1rem 1rem 0;
  }
}
.activities_table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  color: $theme_brown;
  // border-bottom: 2px solid $theme_darkGreen;
  // background-color: $content-bg;
}
.table thead th {
  text-transform: uppercase;
  vertical-align: bottom;
  border: none;
}
.table td {
  border-top: 1px solid rgb(207, 207, 207);
}
.activity_title {
  color: $theme_midGreen;
  font-weight: bold;
}
.activity_detail {
  min-width: 15rem;
}
