.calendarPage_wrapper {
  background-color: $article-bg;
}
.mainPageInfo {
  margin: 30px 0;
}

.calendar {
  display: block;
  margin: 0 auto;
  padding: 1rem 3rem 0;
  width: 100%;
  min-height: 30rem;
  @include breakpoint(tablet-land) {
    padding: 1rem 1rem 0;
  }
}
