/* PAGE LAYOUT */
.contact_container {
  padding: 3rem 1rem;
  // background: url(/images/property/hiRes/pond2.jpg);
  background-size: cover;
  background-position: center;
}
.contactPage-wrapper {
  background-color: $article-bg;
}

/* CONTACT CONTAINER */
/* contact form */

/* ORGINAZATION CHART */
.orgchart_container {
  margin-top: 3rem;

  h3 {
    text-align: center;
    color: $theme-darkGreen;
    padding-bottom: 1rem;
  }
}
.president_row {
  display: flex;
  margin: 0 0 3rem;
  justify-content: center;
}
.orgCard {
  width: 12rem;
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 5px;
  color: #ffffff;
  border: 0.5px solid $theme-yellow;
  background: linear-gradient(to top, $theme-darkGreen, $theme-lightGreen);
  text-align: center;

  &_position {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 0.5px solid $theme-yellow;
  }
  &_name {
    display: block;
    margin-top: 1rem;
  }
  &_exp {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 0.5rem;
  }
}

.leadership_row,
.bod_rows {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.leadership_row .orgCard,
.bod_rows .orgCard {
  margin: 0 0.5rem 2rem;
}

/* Committee Cards */
.committee_rows {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 3rem;
}
.commCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  margin: 0 0.5rem;
  padding: 0.5rem 0.2rem 1rem;
  border-radius: 5px;
  color: #ffffff;
  border: 0.5px solid $theme-yellow;
  background: linear-gradient(to top, $theme-darkGreen, $theme-lightGreen);
  // box-shadow: 0 1rem 2rem rgba(0,0,0,.5);

  &_committee {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 0.5px solid $theme-yellow;
  }
  &_commHead {
    text-align: center;
    margin: 1rem 0;
  }
  &_memberDropdown {
    text-align: center;
  }
  &_memberList {
    display: none;
    flex-direction: column;
    flex-basis: 0;
    background-color: $theme-lightGreen;
    width: 100%;
  }
  &_member {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: $theme-yellow;
    color: $theme-darkGreen;
    margin: 0.2rem 0;
    border: 1px solid $theme-darkGreen;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 600;
  }
}

.volunteerCTA {
  margin: 4rem 0 1rem;
  font-size: 2rem;
  color: $theme-lightGreen;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
