.donate {
  max-width: 34rem;
  margin: 0 auto;
  .pageCaption {
    padding-bottom: 2rem;
  }
  &_copy {
    color: #70440e;
    padding: 1rem 0 2rem;
    max-width: 34rem;
    margin: 0 auto;
    font-weight: 500;
  }
}

.donateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;

  &_group {
    width: 100%;
    padding: 1rem 0;
  }
  &_label {
    display: inline-block;
    color: #333333;
    font-weight: 600;
  }
  &_input {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    border: 0.5px solid gray;
  }
  &_button {
    border-radius: 3rem;
    padding: 0.7rem 3rem;
    border: none;
    margin-top: 2rem;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
