/* BANNER */
.heroSection {
  position: relative;
}
.banner_img {
  display: flex;
  margin-top: -81.375px;
  height: 37rem;
  transition: opacity 1.5s ease;
  opacity: 0;
  &.bg1 {
    background: center/cover url("/images/property/hiRes/pond.jpg") no-repeat;
  }
  &.bg2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 118.375px;
    background: center/cover url("/images/property/hiRes/archeryTargets.jpg")
      no-repeat;
    opacity: 0;
    @include breakpoint(laptop) {
      top: 81.375px;
    }
  }
  &.show {
    opacity: 1;
  }
}

/* FOCUS SECTION */
.focus-row {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  // background: url('../../images/soft_wallpaper.png');
  background-color: #ffffff;

  @include breakpoint(tablet-land) {
    flex-wrap: wrap;
  }
}
.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  @include breakpoint(tablet-land) {
    width: 100%;
    padding: 2rem 0;
  }

  &_icon {
    width: 70px;
  }
  &_header {
    padding-top: 1rem;
    color: $theme_lightGreen;
    text-align: center;
  }
  &_copy {
    width: 90%;
    margin-top: 1rem;
  }
}

/* LATEST NEWS ROW */

.news-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem 1rem 6rem;
  // background: url('../../images/soft_wallpaper.png');
  background-color: $article-bg;

  &_header {
    width: 100%;
    padding-bottom: 2%;
    text-align: center;
    color: $theme_darkGreen;
  }
  .newsCard {
    @include breakpoint(laptop) {
      margin-bottom: 2rem;
      width: 45%;
      box-shadow: none;
    }
    @include breakpoint(tablet-land) {
      width: 100%;
    }
  }
}
