.join_container {
  max-width: 34rem;
  margin: 0 auto;
}
.joinForm {
  &__progressBar {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    .fa-circle {
      font-size: 1.1em;
      color: $progress-incomplete;
    }
    .bar {
      background-color: $progress-incomplete;
      height: 6px;
      position: relative;
      top: 5px;
      width: 100%;
      margin: 0 -1px;
    }
  }
  .form-controls {
    display: flex;
    &__back,
    &__next {
      margin-top: 0.5rem;
    }
  }
  .children-form,
  .spouse-form,
  .single-form {
    display: none;
  }
  &__submitBtn {
    display: none;
  }
  &__radio-label {
    display: inline-block;
    color: #333333;
    padding-left: 0.5rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  &__membership {
    position: relative;
    align-items: center;
  }
  .fa-info-circle {
    font-size: 16px;
    margin-left: 0.5rem;
    vertical-align: middle;
    color: $info-color;
    .infoTip {
      display: none;
      position: absolute;
      top: -6.5rem;
      left: 0;
      padding: 1rem;
      z-index: 1000;
      color: #333333;
    }
    &:hover .infoTip {
      background-color: #dddcdc;
      display: block;
      padding: 1rem;
    }
  }
}
.download-app {
  display: block;
  max-width: 34rem;
  margin: 0 auto;
  padding: 2rem 0 2rem 2rem;
  text-decoration: underline;
  color: $theme_midGreen !important;
  &:hover {
    text-decoration: underline;
  }
}

// helpers
.btn-disabled {
  cursor: default;
  opacity: 0.6;
}
