.needs_container {
  padding: 1rem 3rem 0;
  @include breakpoint(tablet-land) {
    padding: 2rem 1rem 0;
  }
}
table {
  padding: 0.5rem 1rem 1rem;
  display: block;
  background-color: #fff;
  overflow-x: scroll;
}
td,
th {
  color: $theme_brown;
  padding: 0.5rem 1rem;
}
tr:not(:last-child) {
  border-bottom: 1px solid #cfcfcf;
}

.needs_title {
  width: 22%;
  color: $theme_midGreen;
  font-weight: bold;
}
.needs_detail {
  min-width: 15rem;
}
.no-needs {
  font-weight: bold;
  padding-top: 2rem;
}
