/* CONTENT */
.top-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem 0;
  background-color: lightgray;
  @include breakpoint(tablet-port) {
    flex-wrap: wrap;
  }
  .oa_img {
    height: 373px;
  }
}
.oa {
  z-index: 0;
}

/* ACTIVITY HOURS */
.hours_container {
  position: relative;
  margin: -15px 0 0 0;
  width: 48%;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(to top, $theme_darkGreen, $theme_lightGreen);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  @include breakpoint(tablet-land) {
    padding: 0 1rem;
  }
  @include breakpoint(tablet-port) {
    width: 100%;
    box-shadow: none;
  }
  &-flap {
    width: 23px;
    height: 23px;
    background: $theme_lightGreen;
    position: absolute;
    z-index: 4;
    top: 5px;
    left: -12px;
    z-index: -1;
    transform: rotate(-45deg);
    @include breakpoint(tablet-port) {
      display: none;
    }
  }
  .hours_header {
    color: #fff;
    display: inline-block;
    margin: 1rem 0;
    @include breakpoint(tablet-port) {
      padding-top: 1rem;
    }
  }
}

.days {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
  padding-bottom: 0.5rem;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  }
  &_hours {
    color: $theme_yellow;
  }
}

/* ACTIVITY NEWS */
.oa-newsRow {
  margin-top: 3rem;
  padding: 0 1.5rem;

  &_header {
    margin-left: 1rem;
  }
}
.oa-notices {
  display: flex;
  flex-wrap: wrap;
  .oa-notice {
    width: 100%;
    padding: 1rem;
    align-items: unset;
    background-color: transparent;

    &_title {
      padding: 0;
      font-weight: 600;
    }
    &_text {
      margin-bottom: 0;
      max-width: 100%;
    }
  }
}
/* EVENTS */
.events_container {
  margin: 2rem 0;
}
.events_header {
  margin-left: 1rem;
}
.event {
  padding: 1rem;
  &_title {
    font-weight: 600;
  }
}

/* KEY CONTACTS */
.keyContacts_container {
  margin-top: 2rem;
  padding: 0 1.5rem;
  h3 {
    margin-left: 0.75rem;
  }
}
.keyContact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  &_name {
    margin-right: 1rem;
  }
  &_contactBtn {
    padding: 0.1rem 1rem;
    text-decoration: underline !important;
    cursor: pointer;
  }
}
