.rental {
  z-index: 0;
}
.rental-calendar {
  width: 100%;
  max-height: 19rem;
}
.rental .hours_container-flap {
  width: 23px;
  height: 23px;
  background: $theme_lightGreen;
  position: absolute;
  z-index: 4;
  top: 5px;
  left: -12px;
  z-index: -1;
  transform: rotate(-45deg);
}
.rates_container {
  padding: 4rem 1rem 2rem;
  text-align: center;
  .section-header {
  }
  .form {
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    text-align: left;
  }
  .input-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_left,
    &_right {
      width: 40%;
      margin: 0 1rem;
      @include breakpoint(tablet-land) {
        width: unset;
      }
    }
  }
}

.rentables {
  .rentable {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  .fee-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem 0;
    margin: 0 1rem;
  }
  .fee {
    display: block;
    width: 15rem;
    margin: 0 2rem 1rem 0;
    padding: 0.5rem 1rem 1rem;
    background-color: #e4e4e4;
    &_name {
      font-weight: 500;
      text-align: center;
      font-size: 1.2em;
    }
    &_amount {
      display: block;
    }
  }
}
.rental-terms {
  padding: 1rem 1rem;
}
.rental-submit-btn {
  width: 15rem;
  margin: 2rem 0 0 1rem;
}
