<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Fort Wayne | Izaak Walton League of America{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{ encore_entry_link_tags('app') }}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  {% endblock %}
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg top-nav">
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav nav-left font-wh">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('news') }}">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('memberIndex') }}">Member Center</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-right font-wh">
          <li class="nav-item theme-dg">
            <a class="nav-link" href="{{ path('officerIndex') }}">Officer Tools</a>
          </li>
          <li class="nav-item theme-mg">
            <a class="nav-link" href="{{ path('directorIndex') }}">Director Tools</a>
          </li>
          <li class="nav-item theme-lg">
            <a class="nav-link" href="{{ path('managerIndex') }}">Manager Tools</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <header class="masthead">
    <div class="alert_container-outer" {% if (alerts) or (app.session.flashbag.peek('notice')|length > 0) %}
      style="display: block;" {% endif %}>
      {% if alerts %}
      <ul class="alert_list">
        <span id="alertClose" class="close"><i class="fa fa-times-circle"></i></span>
        <!-- Dynamic alert list here from external script index.js -->
      </ul>
      {% endif %}
      {% for message in app.flashes('notice') %}
      <ul class="alert_list">
        <span id="alertClose" class="close"><i class="fa fa-times-circle"></i></span>
        <li class="alert_list_item">{{ message }}</li>
      </ul>
      {% endfor %}

    </div>

    <div class="container">
      <a href="{{ path('index') }}" class="navbar-brand">
        <img src="{{ asset('images/logoFortWayne.png') }}">
      </a>
      <!--<editor-fold desc="Description">-->
      <h1 class="masthead_header"><strong>IZAAK WALTON LEAGUE OF AMERICA</strong> - Fort Wayne</h1>
      <!--</editor-fold>-->
    </div>
  </header>
  <nav class="navbar navbar-expand-lg btm-nav">
    <div class="container">
      <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler_header">Menu</span>
        <span class="fa fa-bars"></span>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <div class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="dropdown-menu-line">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true"
                aria-expanded="false">Events</a>
              <i class="fa fa-plus"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ path('calendar') }}">Calendar</a>
              <a class="dropdown-item" href="{{ path('activities') }}">Activities</a>
              <a class="dropdown-item" href="{{ path('host-your-own-event') }}">Host Your Own!</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu-line">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true"
                aria-expanded="false">Outdoor Activities</a>
              <i class="fa fa-plus"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'archery'}) }}">Archery</a>
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'rifle-and-pistol'}) }}">Rifle &amp; Pistol Range</a>
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'trap-and-skeet'}) }}">Trap &amp; Skeet</a>
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'hiking'}) }}">Hiking</a>
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'camping'}) }}">Camping</a>
              <a class="dropdown-item" href="{{ path('outdoorActivities', {'slug': 'fishing'}) }}">Fishing</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu-line">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true"
                aria-expanded="false">News</a>
              <i class="fa fa-plus"></i>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ path('needs') }}">Chapter Needs</a>
              <a class="dropdown-item" href="{{ path('news') }}">Newsletter</a>
              <a class="dropdown-item" href="{{ path('links') }}">Links</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="{{ path('about') }}" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('contact') }}" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('donate') }}" class="nav-link">Donate</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('join') }}" class="nav-link">Join</a>
          </li>

          <li class="nav-item mobile-item">
            <a href="{{ path('news') }}" class="nav-link">Newsletter</a>
          </li>
          <li class="nav-item mobile-item">
            <a href="{{ path('memberIndex') }}" class="nav-link">Member Center</a>
          </li>
          <li class="nav-item mobile-item theme-mg">
            <a href="{{ path('officerIndex') }}" class="nav-link">Officer Tools</a>
          </li>
          <li class="nav-item mobile-item theme-lg">
            <a href="{{ path('directorIndex') }}" class="nav-link">Director Tools</a>
          </li>
          <li class="nav-item mobile-item theme-lg">
            <a href="{{ path('managerIndex') }}" class="nav-link last-navLink">Manager Tools</a>
          </li>
        </div> <!-- navbar-nav -->
      </div><!-- navbar collapse -->
    </div>
  </nav>
  {% block content %}

  {% endblock %}

  <footer>
    <section class="footer_top theme-dg">
      <div class="container d-flex justify-content-between">
        <h2 class="footer_header_text">Izaak Walton League of America</h2>
        <div class="footer_top_social-container">
          {% if socialMedia.facebook is not null %}
            <div id="facebook">
              <a href="{{ socialMedia.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          {% endif %}
          {% if socialMedia.twitter is not null %}
            <div id="twitter">
              <a href="{{ socialMedia.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
          {% endif %}
          {% if socialMedia.linkedin is not null %}
            <div id="linkedin">
              <a href="{{ socialMedia.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
          {% endif %}
          {% if socialMedia.instagram is not null %}
            <div id="instagram">
              <a href="{{ socialMedia.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
          {% endif %}
          {% if socialMedia.pinterest is not null %}
            <div id="pinterest">
              <a href="{{ socialMedia.pinterest }}" target="_blank"><i class="fa fa-pinterest-p"></i></a>
            </div>
          {% endif %}
          {% if socialMedia.youtube is not null %}
            <div id="youtube">
              <a href="{{ socialMedia.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    <section class="footer_mid theme-mg">
      <div class="container d-flex justify-content-between">
        {% for display, link in globalLinks %}

        {% if loop.index0 % 4 == 0 and loop.index0 != 0%}
          </ul>
        {% endif %}

        {% if loop.index0 % 4 == 0 %}
            <ul>
        {% endif %}
          <li><a href="{{ link }}" target="_blank">{{ display }}</a></li>

        {% endfor %}
      </div>
    </section>
    <section class="footer-bottom theme-dg">
      <div class="container">

        <div class="footer-bottom_links">
          <a href="">Contact </a>|&nbsp;<a href="">Report a Problem </a>|&nbsp;<a href="">Privacy Policy
          </a>|&nbsp;<a href="">Non-Discrimination Policy </a>|&nbsp;<a href="">Legal Disclosure and Terms Of
            Use</a>
        </div>
        <span class="footer-bottom_copy">&copy; {{ "now"|date('Y') }} Izaak Walton League Of America</span>
        <span class="footer-bottom_location d-block">{{ globals.address }} | {{ globals.phonenumber }}
          (main) | Google Maps</span>
        <div class="footer-bottom_badges">
          <img src="{{ asset('images/ata-logo.png') }}" alt="">
        </div>
      </div>
    </section>
  </footer>

  {% block javascripts %}
    <script>var alerts = '{{ alerts|json_encode|raw }}';</script>
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</body>
</html>
