{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
    /* background: url(../../images/soft_wallpaper.png); */
  }
</style>
<div class="texture-bg">
  <div class="container-bg">
    <div class="about_hero"></div>
    <div class="about">
      <div class="about_block">
        <h3 class="section-header">History</h3>
        <p class="about_copy">
          The Izaak Walton League was founded in 1922 to conserve outdoor
          America for future generations. We are one of the earliest
          conservation organizations to set an aggressive course to defend wild
          America by changing public policy. Almost every major, successful
          conservation program that America has in place today can be traced
          directly to a League activity or initiative.
        </p>
        <p class="about_copy">
          The Fort Wayne Chapter Izaak Walton League of America has been serving
          the outdoor enthusiasts and sportsmen of NE Indiana since being
          chartered in 1924. Over the years, hard working supporters and members
          alike have maintained and constantly improved the Chapter. We at FWIWL
          feel we now offer a premier facility. Please come out and hike, shoot
          or simply socialize with members to see for yourself what we provide.
          Then, hopefully, you will join us.
        </p>
      </div>
      <div class="about_block">
        <h3 class="section-header">Membership</h3>
        <p class="about_copy">
          Regular membership entitles a member (or family) to enjoy all Chapter
          activities except rifle/pistol range, archery and clays ranges.<br /><br />
          Regular Use membership includes unsupervised use of any range after
          the member and/or family attends a Range Officer Safety Briefing.
        </p>
        <p class="about_copy">
          {% for membership in memberships %}
          <span class="about_sub-header"
            >{{ membership.membership_type }} Membership ({{
              membership.membership_notes
            }})</span
          >
          ${{ membership.membership_fee }}/year or ${{
            membership.membership_fee + range.membership_fee
          }}/year with range access {% endfor %}
        </p>
      </div>
      <div class="about_block">
        <h3 class="section-header">Leadership</h3>
        <p class="about_copy">
          <span class="about_sub-header">Officers</span>
          <span class="about_sub-header">Directors</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
