{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Here's our next 30 days:</h3>
    <div class="activities_container">
      <table class="table activities_table">
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for event in chapterEvents %}
          <tr>
            <td>
              {% if event.start.dateTime == null %}
              {{ event.start.date|date('m/d/y') }}
              {% else %}
              {{ event.start.dateTime|date('m/d/y g:ia') }}
              {% endif %}
            </td>
            <td>
              {% if event.start.dateTime == null %}
              {{ event.end.date|date('m/d/y') }}
              {% else %}
              {{ event.end.dateTime|date('m/d/y g:ia') }}
              {% endif %}
            </td>
            <td class="activity_title">{{ event.summary }}</td>
            <td class="activity_detail">{{ event.description|raw }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if showLocalEvents %} {% for chapter, events in nearbyChapters %}
    <h3 class="pageCaption">Here's {{ chapter }}'s next 30 days:</h3>
    <div class="activities_container">
      <table class="table activities_table">
        <thead>
          <tr>
            <th>Start</th>
            <th>End</th>
            <th>Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td>{{ event.start.dateTime|date('m/d/y g:ia') }}</td>
            <td>
              {{ event.end.dateTime|date('m/d/y g:ia') }}
            </td>
            <td class="activity_title">{{ event.summary }}</td>
            <td>{{ event.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
