{% extends "base.html.twig" %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>
<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Calendar</h3>
    <iframe
      class="calendar"
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gvbk3ta8s1g9pvga1vtah69p20%40group.calendar.google.com&amp;color=%2363da38&amp;ctz=America%2FIndiana%2FIndianapolis"
      style="border-width:0"
    >
    </iframe>
  </div>
</div>
{% endblock %}
