{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}

{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>
<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Contact Us</h3>
    <section class="contact_container">
      {% for message in app.flashes('message') %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% for message in app.flashes('error') %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      <div class="contactForm_container">
        <form
          class="form"
          id="contactForm"
          method="POST"
          action="{{ path('contactForm') }}"
        >
          <div class="form-group">
            <label class="form__label" for="name">Name</label>
            <input type="text" name="name" class="form__input" />
          </div>
          <div class="form-group">
            <label class="form__label" for="email">Email</label>
            <input type="email" name="email" class="form__input" />
          </div>
          <div class="form-group">
            <label class="form__label" for="name">Comments</label>
            <textarea class="form__input type="text-area" name="comments" rows="4"></textarea>
          </div>
          <button
            type="submit"
            name="Submit"
            id="contactSubmit"
            class="form__btn"
          >
            Send Message
          </button>
        </form>
      </div>
    </section>
    <section class="content_wrapper">
      <div class="orgchart_container">
        <h3>Officers</h3>
        {% for leader in leaders %} {% if leader.position == "President" %}
        <div class="president_row">
          <div class="orgCard">
            <span class="orgCard_position">{{ leader.position }}</span>
            <span class="orgCard_name"
              >{{ leader.member_first_name }}
              {{ leader.member_last_name }}</span
            >
            <span class="orgCard_exp"
              >Term Expires: {{ leader.term_expiration }}</span
            >
          </div>
        </div>
        {% endif %} {% endfor %}
        <div class="leadership_row">
          {% for leader in leaders %} {% if leader.position != "Director" and
          leader.position != "President" %}
          <div class="orgCard">
            <span class="orgCard_position">{{ leader.position }}</span>
            <span class="orgCard_name"
              >{{ leader.member_first_name }}
              {{ leader.member_last_name }}</span
            >
            <span class="orgCard_exp"
              >Term Expires: {{ leader.term_expiration }}</span
            >
          </div>
          {% endif %} {% endfor %}
        </div>
        <h3>Board of Directors</h3>
        <div class="bod_rows">
          {% for leader in leaders %} {% if leader.position == "Director" %}
          <div class="orgCard">
            <span class="orgCard_position">{{ leader.position }}</span>
            <span class="orgCard_name"
              >{{ leader.member_first_name }}
              {{ leader.member_last_name }}</span
            >
            <span class="orgCard_exp"
              >Term Expires: {{ leader.term_expiration }}</span
            >
          </div>
          {% endif %} {% endfor %}
        </div>
        <h3>Committees</h3>
        <div class="committee_rows">
          {% for key, committee in committees %}
          <div class="commCard">
            <span class="commCard_committee">{{ key }}</span>
            {% for member in committee %} {% if member.is_chair == 1 %}
            <span class="commCard_commHead"
              >{{ member.member_first_name }}
              {{ member.member_last_name }}</span
            >
            {% endif %} {% endfor %}
            <span class="commCard_memberDropdown"
              >Members <i class="fa fa-caret-down"></i
            ></span>
            <div class="commCard_memberList">
              {% for member in committee %} {% if member.is_chair == 0 %}
              <span class="commCard_member"
                >{{ member.member_first_name }}
                {{ member.member_last_name }}</span
              >
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <a href="#contactForm">
      <h3 class="volunteerCTA">Want to volunteer?</h3>
    </a>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("contact") }}
{% endblock %}
