{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="container-bg">
    <div class="donate">
      <h3 class="pageCaption">Donations</h3>
      <p class="intro-copy">
        Thank you for deciding to make a donation to IWLA! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. A ducimus quod molestias asperiores,
        dolores deleniti magni non deserunt fugiat inventore natus dolorum
        quisquam est qua
      </p>
      <form class="form" action="{{ path('payment') }}" method="post">
        <div class="form-group">
          <label class="form__label" for="name">Name:</label>
          <input class="form__input" name="name" id="name" type="text" />
        </div>
        <div class="form-group">
          <label class="form__label" for="email">Email:</label>
          <input class="form__input" name="email" id="email" type="email" />
        </div>
        <div class="form-group">
          <label class="form__label" for="phone">Phone:</label>
          <input class="form__input" name="phone" id="phone" type="tel" />
        </div>
        <div class="form-group">
          <label class="form__label" for="value">Amount $:</label>
          <input
            class="form__input"
            id="value"
            name="value"
            type="number"
            min="1"
            max="10000"
            required
          />
        </div>
        <div class="form-group">
          <input type="hidden" name="type" value="donation" />
          <button class="form__btn" type="submit" name="donation">
            Donate
          </button>
        </div>
        <span class="form_note">All donations are tax deductible</span>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
