{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<section id="heroSection">
  <div class="banner_img bg1 show"></div>
  <div class="banner_img bg2"></div>
</section>

<section class="focus-row">
  <div class="focus">
    <img class="focus_icon" src="{{ asset('images/icon_conservation.svg') }}" />
    <h3 class="focus_header">Conservation</h3>
    <p class="focus_copy">
      Whether you are concerned about clean water in your neighborhood, robust
      fish and wildlife populations or healthy air to breathe, we are committed
      to helping safeguard natural resources for generations to come.
    </p>
  </div>
  <div class="focus">
    <img class="focus_icon" src="{{ asset('images/icon_outdoors.png') }}" />
    <h3 class="focus_header">Outdoor Recreation</h3>
    <p class="focus_copy">
      IWLA creates opportunities for everyone to experience the transformative
      power of the outdoors. Getting outdoors improves our mental, physical, and
      social health.
    </p>
  </div>
  <div class="focus">
    <img class="focus_icon" src="{{ asset('images/icon_community.svg') }}" />
    <h3 class="focus_header">Community</h3>
    <p class="focus_copy">
      We are committed to the ideal that wilderness and all public lands can
      bring people and communities together and that everyone should share
      equitably in their benefits.
    </p>
  </div>
</section>

<section class="news-row">
  <h2 class="news-row_header">Latest News</h2>
  <div class="newsCard">
    <img
      src="{{ asset('images/placehold_news1.jpeg') }}"
      alt=""
      class="newsCard_image"
    />
    <h4 class="newsCard_title">Saving Our Farms</h4>
    <p class="newsCard_text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, in!
      Quidem, error rerum iusto animi...
    </p>
    <span class="newsCard_cta"
      >Read More<i class="fa fa-long-arrow-right"></i
    ></span>
  </div>
  <div class="newsCard">
    <img
      src="{{ asset('images/placehold_news2.jpeg') }}"
      alt=""
      class="newsCard_image"
    />
    <h4 class="newsCard_title">Camp Sites</h4>
    <p class="newsCard_text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam molestias
      ducimus facilis distinctio excepturi nemo error optio...
    </p>
    <span class="newsCard_cta"
      >Read More<i class="fa fa-long-arrow-right"></i
    ></span>
  </div>
  <div class="newsCard">
    <img
      src="{{ asset('images/property/hiRes/chapterHouse.jpg') }}"
      alt=""
      class="newsCard_image"
    />
    <h4 class="newsCard_title">Looking for RSO's</h4>
    <p class="newsCard_text">
      We are looking for more RSOs. Please use the contact form if you are
      interested
    </p>
    <span class="newsCard_cta"
      >Read More<i class="fa fa-long-arrow-right"></i
    ></span>
  </div>
</section>
{% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("index") }}
{% endblock %}
