{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Membership Application</h3>
    <div class="join_container">
      <p class="intro-copy">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A ducimus quod
        molestias asperiores, dolores deleniti magni non deserunt.
      </p>

      <form class="form joinForm" action="{{ path('payment') }}" method="post">
        <div class="joinForm__progressBar">
          <!-- Added in join.js -->
        </div>
        <fieldset class="membership-selector">
          <span class="form__group-header">*Choose a Membership type:</span>
          {% for membership in memberships %}
          <div class="form-group joinForm__membership --flex">
            <input
              type="radio"
              class="membership-selector__radio"
              value="{{ membership[4] }}"
              id="{{ membership[1] }}"
              name="value"
              required
            />
            <i class="fa fa-info-circle">
              <span class="infoTip">
                <strong>{{ membership[0] }}</strong
                ><br /><br />
                ${{ membership[3] }}<br />
                ({{ membership[2] }})
              </span>
            </i>

            <label
              class="joinForm__radio-label"
              for="{{ membership[1] }}"
              class="black"
            >
              {{ membership[0] }}
            </label>
          </div>
          {% endfor %}
        </fieldset>

        <fieldset class="single-form single-form--1">
          <div class="form-group">
            <label class="form__label black" for="firstName"
              >*First Name:</label
            >
            <input
              class="form__input"
              name="firstName"
              id="firstName"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="middleInit"
              >Middle Initial:</label
            >
            <input
              class="form__input"
              name="middleInit"
              maxlength="1"
              id="middleInit"
              type="text"
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="lastName">*Last Name:</label>
            <input
              class="form__input"
              name="lastName"
              id="lastName"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="dob">*Date of Birth:</label>
            <input
              class="form__input"
              name="dob"
              id="dob"
              type="date"
              required
            />
          </div>
          <div class="form-group">
            <label for="email" class="form__label">*Email:</label>
            <input
              class="form__input"
              name="email"
              id="email"
              type="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="cellphone" class="form__label">Cell Phone:</label>
            <input
              class="form__input"
              name="cellphone"
              id="cellphone"
              type="tel"
            />
          </div>
          <div class="form-group">
            <label for="homephone" class="form__label">Home Phone:</label>
            <input
              class="form__input"
              name="homephone"
              id="homephone"
              type="tel"
            />
          </div>
          <div class="form-group">
            <label for="occupation" class="form__label">Occupation:</label>
            <input
              class="form__input"
              name="occupation"
              id="occupation"
              type="text"
            />
          </div>
          <div class="--flex">
            <input type="checkbox" value="1" name="retired" id="retired" />
            <label for="retired" class="joinForm__radio-label">Retired</label
            ><br />
          </div>
        </fieldset>
        <fieldset class="single-form single-form--2">
          <span class="form__group-header"
            >*Do you want range access: (Rifle &amp; Pistol, Trap &amp; Skeet,
            Archery)</span
          >
          <div class="form-group --flex">
            <input type="radio" value="1" id="yes" name="range" required />
            <label for="yes" class="joinForm__radio-label"
              >Yes ${{ range[3] }}</label
            ><br />
          </div>
          <div class="form-group --flex">
            <input type="radio" value="0" id="no" name="range" required />
            <label for="no" class="joinForm__radio-label">No ($0)</label>
          </div>

          <div class="form-group">
            <label for="nra" class="form__label">NRA Member Number:</label>
            <input
              class="form__input"
              name="nra"
              id="nra"
              type="text"
              placeholder="if applicable"
            />
          </div>
          <div class="form-group">
            <label for="occupation" class="form__label"
              >Are you willing to help with improvement projects around the
              chapter?</label
            >
            <div class="form-group --flex">
              <input type="radio" value="1" id="yes" name="labor" />
              <label for="yes" class="joinForm__radio-label">Yes</label><br />
            </div>
            <div class="form-group --flex">
              <input type="radio" value="0" id="no" name="labor" checked />
              <label for="no" class="joinForm__radio-label">No</label>
            </div>
            <label for="occupation" class="form__label"
              >Are you willing to serve on a chapter committee or on the Board
              of Directors?</label
            >
            <div class="form-group --flex">
              <input type="radio" value="1" id="yes" name="time" />
              <label for="yes" class="joinForm__radio-label">Yes</label><br />
            </div>
            <div class="form-group --flex">
              <input type="radio" value="0" id="no" name="time" checked />
              <label for="no" class="joinForm__radio-label">No</label>
            </div>
          </div>
          <div class="form-group">
            <span class="form__label">Computer Skills:</span>
            <div class="--flex">
              <input name="computer[]" value="word" id="word" type="checkbox" />
              <label for="word" class="joinForm__radio-label">Word</label>
            </div>

            <div class="--flex">
              <input
                name="computer[]"
                value="powerpoint"
                id="powerpoint"
                type="checkbox"
              />
              <label for="powerpoint" class="joinForm__radio-label"
                >Powerpoint</label
              >
            </div>

            <div class="--flex">
              <input
                name="computer[]"
                value="quickbooks"
                id="quickbooks"
                type="checkbox"
              />
              <label for="quickbooks" class="joinForm__radio-label"
                >QuickBooks</label
              >
            </div>

            <div class="--flex">
              <input
                name="computer[]"
                value="other"
                id="other"
                type="checkbox"
              />
              <label for="other" class="joinForm__radio-label">Other:</label>
            </div>
            <input
              class="form__input"
              name="computer[]"
              id="otherDesc"
              type="text"
              placeholder="type other computer skills here"
            />
          </div>
        </fieldset>

        <fieldset class="spouse-form spouse-form--1">
          <div class="form-group">
            <label class="form__label black" for="spouseFirstName"
              >Spouse First Name:</label
            >
            <input
              class="form__input"
              name="spouseFirstName"
              id="spouseFirstName"
              type="text"
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="spouseMiddleInit"
              >Spouse Middle Initial:</label
            >
            <input
              class="form__input"
              name="spouseMiddleInit"
              maxlength="1"
              id="spouseMiddleInit"
              type="text"
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="spouseLastName"
              >Spouse Last Name:</label
            >
            <input
              class="form__input"
              name="spouseLastName"
              id="spouseLastName"
              type="text"
            />
          </div>
          <div class="form-group">
            <label class="form__label black" for="spousedob"
              >Spouse Date of Birth:</label
            >
            <input
              class="form__input"
              name="spousedob"
              id="spousedob"
              type="date"
            />
          </div>
          <div class="form-group">
            <label for="spouseEmail" class="form__label">*Email:</label>
            <input
              class="form__input"
              name="spouseEmail"
              id="spouseEmail"
              type="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="spouseCellphone" class="form__label">Cell Phone:</label>
            <input
              class="form__input"
              name="spouseCellphone"
              id="spouseCellphone"
              type="tel"
            />
          </div>
          <div class="form-group">
            <label for="spouseHomephone" class="form__label">Home Phone:</label>
            <input
              class="form__input"
              name="spouseHomephone"
              id="spouseHomephone"
              type="tel"
            />
          </div>
          <div class="form-group">
            <label for="spouseOccupation" class="form__label"
              >Spouse Occupation:</label
            >
            <input
              class="form__input"
              name="spouseOccupation"
              id="spouseOccupation"
              type="text"
            />
          </div>
          <div class="--flex">
            <input
              type="checkbox"
              value="1"
              name="spouseRetired"
              id="spouseRetired"
            />
            <label for="spouseRetired" class="joinForm__radio-label"
              >Retired</label
            >
          </div>
        </fieldset>
        <fieldset class="spouse-form spouse-form--2">
          <div class="form-group">
            <label for="spouseNra" class="form__label"
              >Spouse NRA Member Number:</label
            >
            <input
              class="form__input"
              name="spouseNra"
              id="spouseNra"
              type="text"
              placeholder="if applicable"
            />
          </div>
          <label for="occupation" class="form__label"
            >Is your spouse willing to help with improvement projects around the
            chapter?</label
          >
          <div class="form-group --flex">
            <input
              type="radio"
              value="1"
              id="spouseYesLabor"
              name="spouseLabor"
            />
            <label for="spouseYesLabor" class="joinForm__radio-label">Yes</label
            ><br />
          </div>
          <div class="form-group --flex">
            <input
              type="radio"
              value="0"
              id="spouseNoLabor"
              name="spouseLabor"
              checked
            />
            <label for="spouseNoLabor" class="joinForm__radio-label">No</label>
          </div>
          <label for="occupation" class="form__label"
            >Is your spouse willing to serve on a chapter committee or on the
            Board of Directors?</label
          >
          <div class="form-group --flex">
            <input
              type="radio"
              value="1"
              id="spouseYesTime"
              name="spouseTime"
            />
            <label for="spouseYesTime" class="joinForm__radio-label">Yes</label
            ><br />
          </div>
          <div class="form-group --flex">
            <input
              type="radio"
              value="0"
              id="spouseNoTime"
              name="spouseTime"
              checked
            />
            <label for="spouseNoTime" class="joinForm__radio-label">No</label>
          </div>
          <div class="form-group">
            <span class="form__label">Computer Skills:</span>
            <div class="--flex">
              <input
                name="spouseComputer[]"
                value="word"
                id="spouseWord"
                type="checkbox"
              />
              <label for="spouseWord" class="joinForm__radio-label"
                >Word:</label
              >
            </div>
            <div class="--flex">
              <input
                name="spouseComputer[]"
                value="powerpoint"
                id="spousePowerpoint"
                type="checkbox"
              />
              <label for="spousePowerpoint" class="joinForm__radio-label"
                >Powerpoint:</label
              >
            </div>
            <div class="--flex">
              <input
                name="spouseComputer[]"
                value="quickbooks"
                id="spouseQuickbooks"
                type="checkbox"
              />
              <label for="spouseQuickbooks" class="joinForm__radio-label"
                >QuickBooks:</label
              >
            </div>
            <div class="--flex">
              <input
                name="spouseComputer[]"
                value="other"
                id="spouseOther"
                type="checkbox"
              />
              <label for="spouseOther" class="joinForm__radio-label"
                >Other:</label
              >
            </div>
            <input
              name="spouseComputer[]"
              id="spouseOtherDesc"
              type="text"
              placeholder="type other computer skills here"
            />
          </div>
        </fieldset>

        <fieldset class="children-form">
          <div class="form-group">
            <label class="form__label black" for="childName"
              >Child's Full Name:</label
            >
            <input
              class="form__input"
              name="childName[]"
              id="childName"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="address1" class="form__label">*Address 1:</label>
            <input
              class="form__input"
              name="address1"
              id="address1"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label for="address2" class="form__label">Address 2:</label>
            <input
              class="form__input"
              name="address2"
              id="address2"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="city" class="form__label">*City:</label>
            <input
              class="form__input"
              name="city"
              id="city"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label for="state" class="form__label">*State:</label>
            <input
              class="form__input"
              name="state"
              id="state"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <label for="zip" class="form__label">*Zip:</label>
            <input
              class="form__input"
              name="zip"
              id="zip"
              type="number"
              required
              min="5"
              maxlength="9"
            />
          </div>
          <div class="form-group">
            <label for="childDob" class="form__label">*Date of Birth:</label>
            <input
              class="form__input"
              name="childDob"
              id="childDob"
              type="date"
              required
            />
          </div>
        </fieldset>

        <input type="hidden" name="type" value="new_member" />

        <div class="form__errorMessage"></div>

        <div class="form-controls">
          <button
            type="button"
            class="form__btn form-controls__back btn-disabled"
          >
            Back
          </button>
          <button type="button" class="form__btn form-controls__next">
            Next
          </button>
        </div>
        <button
          class="form__btn joinForm__submitBtn"
          type="submit"
          name="registration"
        >
          Send Application
        </button>
      </form>
      <a class="download-app" href="#">
        Download application
      </a>
    </div>
  </div>
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("join") }}
{% endblock %}
