{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Chapter Needs</h3>
    <div class="needs_container">
      <table>
        {% if needs is not empty %}
        <tr>
          <th>Position</th>
          <th>Details</th>
        </tr>
        {% for need in needs %}
        <tr>
          <td class="needs_title">{{ need.title }}</td>
          <td class="needs_detail">{{ need.details }}</td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td class="no-needs">
            The chapter does not have any immediate needs!
          </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
