{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="container-bg">
    <h3 class="pageCaption">Newsletters</h3>
    <div class="links_container">
      <p class="intro-copy">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam
        eaque distinctio ipsum, ex illum exercitationem amet nihil quibusdam
        quae excepturi labore doloribus commodi nam soluta alias, dolor
        voluptatum illo.
      </p>
      <ul class="links">
        {% for newsletter in newsletters %}
        <li class="link">
          <a href="{{ newsletter.filepath }}" target="_blank">{{
            newsletter.title
          }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
