{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="oa container-bg">
    <h3 class="pageCaption">{{ page }}</h3>
    <p class="intro-copy">
      {{ synopsis|raw }}
    </p>
    <div class="top-row">
      <div
        id="photoSlider"
        class="outdoorActivities_slider carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          {% for image in images %}
          <div
            class="carousel-item {% if loop.index == 1 %} active {% endif %}"
          >
            <img
              class="slider_image oa_img img-fluid"
              src="../{{ image }}"
              alt="{{ image }}"
            />
          </div>
          {% endfor %}
        </div>
        <a
          class="carousel-control-prev"
          href="#photoSlider"
          role="button"
          data-slide="prev"
        >
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <i class="fa fa-chevron-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#photoSlider"
          role="button"
          data-slide="next"
        >
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <i class="fa fa-chevron-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="hours_container">
        <span class="hours_container-flap"></span>
        <h3 class="hours_header">Hours</h3>
        {% for hour in hours %}
        <div class="days">
          <span class="days_day"
            >{{ hour.day|replace({0:'Sunday', 1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', }) }}
          </span>
          <span class="days_hours">
            {% if not hour.opentime and not hour.closed %} Always Open {% elseif
            hour.closed %} Closed {% elseif hour.opentime %}
            {{ hour.opentime | date('h:iA') }} -
            {{ hour.closingtime | date('h:iA') }}
            {% endif %}
          </span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="oa-newsRow">
      <h3 class="section-header oa-newsRow_header">Latest News</h3>
      <div class="oa-notices">
        {% for event in events %} {% if event.type == "Notice" %}
        <div class="oa-notice">
          <h6 class="oa-notice_title">{{ event.header }}</h6>
          <p class="oa-notice_text">{{ event.details }}</p>
        </div>
        {% endif %} {% endfor %}
        <div class="oa-notice">
{#          <h6 class="oa-notice_title">Test</h6>#}
{#          <p class="oa-notice_text">#}
{#            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic#}
{#            cupiditate voluptas reprehenderit unde possimus eveniet ipsam#}
{#            perferendis nulla consequuntur maiores blanditiis nihil ea, non#}
{#            fugit, quibusdam accusamus eius error?#}
{#          </p>#}
        </div>
      </div>
    </div>

    <div class="events_container">
      <h3 class="section-header events_header">Events</h3>
      <div class="event">
        {% for event in events %} {% if event.type == "Event" %}
        <h6 class="event_title">{{ event.header }}</h6>
        <p>{{ event.details }}</p>
        {% endif %} {% endfor %}
        <p class="event_text">There are no scheduled events.</p>
      </div>
    </div>

    <div class="keyContacts_container">
      <h3 class="section-header">Key Contacts</h3>
      <div class="keyContacts">
        <div class="keyContact">
          <span class="keyContact_name"
            >John Smith
            <span class="keyContact_role">- Manager</span>
          </span>
          {#
          <a
            class="keyContact_contactBtn"
            data-toggle="modal"
            data-target="#contactModal"
          >
            Contact
          </a>
          #}
        </div>
      </div>
    </div>

    <!-- Contact Modal -->
    <div
      class="modal fade"
      id="contactModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="Contact Modal"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title" id="exampleModalLabel">Contact</span>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              id="KeyContactForm"
              method="POST"
              action="{{ path('contactForm') }}"
            >
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="name">Comments</label>
                <textarea
                  type="text-area"
                  name="comments"
                  rows="4"
                  class="form-control"
                  placeholder="Message..."
                  class="form-contorol"
                ></textarea>
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  name="Submit"
                  id="contactSubmit"
                  class="btn"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
