{% extends "base.html.twig" %} {% block stylesheets %}
{{ parent() }}
{% endblock %} {% block content %}
<style>
  .masthead {
    background-color: #f3efe5;
  }
</style>

<div class="texture-bg">
  <div class="rental container-bg">
    <div class="pageCaption_container">
      <h3 class="pageCaption">Host Your Own Event</h3>
    </div>
    <p class="intro-copy">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
      reprehenderit autem rerum ullam quod earum cumque voluptatibus id, amet
      reiciendis aliquam suscipit aut eaque unde consequatur nostrum fugit eos.
      Neque.
    </p>
    <div class="top-row">
      <div id="photoSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for image in images %}
          <div
            class="carousel-item {% if loop.index == 1 %} active {% endif %}"
          >
            <img
              height="373px"
              class="d-block slider_image"
              src="../{{ image }}"
              alt=""
            />
          </div>
          {% endfor %}
        </div>
        <a
          class="carousel-control-prev"
          href="#photoSlider"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#photoSlider"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="hours_container">
        <span class="hours_container-flap"></span>
        {# TODO dump twig variables to populate calendar container #}
        <h3 class="hours_header">Availability</h3>
        <iframe
          class="rental-calendar"
          src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gvbk3ta8s1g9pvga1vtah69p20%40group.calendar.google.com&amp;color=%2363da38&amp;ctz=America%2FIndiana%2FIndianapolis"
          style="border-width:0"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"
        >
        </iframe>
      </div>
    </div>

    <div class="rates_container">
      <h3 class="section-header">Rental Lease Agreement</h3>
      <form class="form" action="">
        <div class="input-section">
          <div class="input-section_left">
            <div class="form-group">
              <label class="form__label" for="name">Renter Name</label>
              <input class="form__input" type="text" name="name" />
            </div>
            <div class="form-group">
              <label class="form__label" for="agreement_date"
                >Agreement Date</label
              >
              <input class="form__input" type="date" name="agreement_date" />
            </div>
          </div>
          <div class="input-section_right">
            <div class="form-group">
              <label class="form__label" for="start_date"
                >Start Date/Time</label
              >
              <input class="form__input" type="date" name="start_date" />
            </div>
            <div class="form-group">
              <label class="form__label" for="end_date">End Date/Time</label>
              <input class="form__input" type="date" name="end_date" />
            </div>
          </div>
        </div>

        <div class="rental-section">
          <div class="rentables">
            <div class="rentable">
              <h3 class="rentable_name">Halls & Rooms</h3>
              <p class="rentable_description">
                Chapter House/Banquet Hall/Sportsman's Room (Max = 75 per hall)
              </p>
            </div>
            <div class="fee-block">
              <div class="fee">
                <h4 class="fee_name">Banquet Hall</h4>
                <span class="fee-block_fee">$200 for members for 5 hours</span>
                <span class="fee-block_fee"
                  >$250 for non-members for 5 hours</span
                >
              </div>
              <div class="fee">
                <h4 class="fee_name">Sportman's Room</h4>
                <span class="fee_amount">$200 for members for 5 hours</span>
                <span class="fee_amount">$250 for non-members for 5 hours</span>
              </div>
            </div>

            <div class="rentable">
              <h3 class="rentable_name">Campgrounds</h3>
              <p class="rentable_description">
                Scout Ridge / Meadowlands Pond
              </p>
            </div>
            <div class="fee-block">
              <div class="fee">
                <span class="fee_amount"
                  >$50 per night for 25 campers or less</span
                >
                <span class="fee_amount">$2 per camper over 25</span>
              </div>
              <div class="fee">
                <h4 class="fee_name">Solos:</h4>
                <span class="fee_amount">$5 per night per camper</span>
                <span class="fee_amount">or $10 per night per tent</span>
              </div>
            </div>
            <div class="rentable">
              <h3 class="rentable_name">Ranges</h3>
              <p class="rentable_description">
                Rifle/Pistol - Skeet/Trap - Archery
              </p>
            </div>
            <div class="fee-block">
              <div class="fee">
                <h4 class="fee_name">For All Ranges:</h4>
                <span class="fee-block_fee">$120 per hour (minimum)</span>
                <span class="fee-block_fee">$2 per camper over 25</span>
              </div>
              <div class="fee">
                <h4 class="fee_name">Rifle/Pistol</h4>
                <span class="fee_amount">$50 per hour</span>
              </div>
              <div class="fee">
                <h4 class="fee_name">Archery</h4>
                <span class="fee_amount">$35 per hour</span>
              </div>
              <div class="fee">
                <h4 class="fee_name">Skeet/Trap</h4>
                <span class="fee_amount">$60 per hour</span>
              </div>
            </div>
          </div>
        </div>

        <div class="rental-terms">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum fugiat
          vitae deleniti quam! Illo fuga dolorem tenetur totam, numquam officia.
          Voluptas aperiam ipsam, accusamus autem fuga iste? Minus, rerum
          veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Perspiciatis aliquid temporibus debitis obcaecati, dignissimos
          similique, quod repellat ullam deserunt excepturi aspernatur fugit
          molestiae officia provident, sunt voluptatum! Explicabo, accusamus
          architecto.
        </div>
        <div class="rental-terms">
          <strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum
            fugiat vitae deleniti quam! Illo fuga dolorem tenetur totam, numquam
            officia. Voluptas aperiam ipsam, accusamus autem fuga iste? Minus,
            rerum veritatis! Lorem ipsum dolor sit, amet consectetur adipisicing
            elit.
          </strong>
        </div>
        <button type="submit" class="btn rental-submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block javascripts %}
{{ parent() }}
{% endblock %}
